.home-container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin:32px auto;
}

.home-container header {
  display: flex;
  align-items: center;
}

.home-container header img {
  height: 64px;
}
.home-container header a {
  width: 150px;
  margin-top: 0;
}

.home-container .buttons {
  margin-left: auto;
}
.home-container .buttons .button {
  margin-left: 20px;
}

.home-container .banner-container {
  width: auto;
  padding: 20px;
  border-radius: 8px;
  margin: 80px 0 30px;
  display: flex;
}

.home-container .banner-container .banner-text {
  width: 100%;
  margin: 40px 0 32px;
  padding: 10px;
  font-size: 18px;
  color: #3a3b46;
  line-height: 32px;
}

.home-container .banner-container .banner-text p {
  margin-left: 10px;
}

.home-container .banner-container .text-title {
  width: 40%;
  margin-bottom: 20px;
}
.home-container .banner-container img {
  height: 40%;
  width: 40%;
}

.home-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  list-style: none;
}

.home-container ul li {
  background: #ffffff;
  padding: 10px 24px 24px;
  border-radius: 8px;
  position: relative;
}

.home-container .case-header {
  text-align: center;
  margin-bottom: 2px;
  color: #41414d;
}

.home-container .case-header strong {
  font-size: 18px;
}
.home-container .case-header p {
  font-size: 12px;
}

.home-container .case-description {
  display: block;
  margin-top: 10px;
  color: #41414d;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.home-container ul li p + strong {
  margin-top: 10px;
}

.home-container ul li p {
  color: #737380;
  line-height: 21px;
  font-size: 16px;
}

.home-container ul .button {
  width: 100%;
  align-content: center;
  opacity: 0.8;
}

.divider{
  width: 60%;
  margin: auto;
}

.item-container{
  margin: 72px auto;
}